* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




main {
    padding: 100px;
}

img {
    width: 300px;
    height: 200px;
    margin: 10px;
}

.imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#encontreiFeed{
    
    background-color: #161616;
    width: 45%;
    
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#perdiFeed{
   
    width: 45%;
    
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card{
    

    background-color: rgb(59, 58, 58);
    height: 600px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: sepia(40%);
    max-width: 500px;
    overflow-wrap: break-word;
}


.cardp { 
    
    filter: sepia(100%);
    color: gray;
    overflow-wrap: break-word;
}

.cardb { 
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    border-style: double;
    border-color: white;
    background-color: black;
    color: white;
    filter: sepia(100%);
    margin: 10px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.cardb:hover { 
    background-color: #ffffff;
    color: black;
    border-color: black;
}


.modal {
    display: none; /* Oculta o modal por padrão */
    position: fixed; /* Fixa o modal na tela */
    z-index: 1; /* Garante que o modal fique acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total da tela */
    height: 100%; /* Altura total da tela */
    overflow: auto; /* Adiciona barra de rolagem se necessário */
    background-color: rgb(0,0,0); /* Cor de fundo */
    background-color: rgba(0,0,0,0.4); /* Cor de fundo com transparência */
}
/* Estilo para o conteúdo do modal */
.modal-content {
    
    margin: 15% auto; /* Margem para centralizar o modal */
    padding: 20px; /* Espaçamento interno */
    border: 1px solid #888; /* Borda do modal */
    width: 80%; /* Largura do conteúdo do modal */

    background-color: rgb(59, 58, 58);
   
    border-color: rgb(0, 0, 0);
    border-style: solid;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: sepia(40%);
    
    overflow-wrap: break-word;
}
/* Estilo para o botão de fechar */
.close {
    color: #aaa; /* Cor do botão de fechar */
    float: right; /* Alinha à direita */
    font-size: 28px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
}
/* Estilo para o botão de fechar quando o mouse estiver sobre ele */
.close:hover,
.close:focus {
    color: black; /* Cor preta */
    text-decoration: none; /* Remove sublinhado */
    cursor: pointer; /* Altera o cursor para pointer */
}

.logodiv {
    display: flex;
    flex: 1;
}

.emptyspace {
    flex: 3;
 }

 .logo {
    width: 81.53px;
    height: 81.53px;
    display: flex;
    border-style: double;
    border-color: white;
    border-width: 5px;
    border-radius: 2px;
}

.logodiv2 {
 flex: 1;
}

.logoname {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: baskerville, serif;
    font-size: 30px;
    border-right: solid white;
    padding: 15px;
    padding-right: 20px;
}

.buttons {
    flex: 1;
    font-size: 10px;
}



.container-feed {
    height: 100dvh ;
}

.maincontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vw; */

    

}

a{
    display: block;
    font-size: 15px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 10px;
    letter-spacing: 2px;
    transition: all .25s;
    text-align: center;
    margin-left: 1rem;
    
  }


a:hover {
    letter-spacing: 15px;
    
}


.hero {
    background-image: url('background1.jpg'); /* Replace with your background image path */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    box-sizing: border-box;
}


.top-section {
    display: flex;
    filter: sepia(60%);
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: background color for contrast */
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Takes up remaining space */
    text-align: left;
    color: white; /* Text color */
    filter: sepia(50%);
}

/* .content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}  */
  
.maincontainer {
  
    display: flex;
    padding: 20px;
    padding-bottom: 40px;
    background-color: #161616; /* Light background for the main content */
    color: #333; /* Dark text color for readability */
    min-height: 100vh; /* Ensure it covers the remaining viewport height */
    box-sizing: border-box; /* Include padding in the height */
    justify-content: center;
    align-items: center;
}

.logodiv {
    color: white;
}

.logodiv2 {
    display: flex;
    flex-direction: row;
    
}

.name { 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: baskerville, serif;
    font-size: 30px;
    border-right: solid white;
    padding: 15px;
    padding-right: 20px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    color: white;
}

.button {
    color: white;
}

.separator {
    height: 100px; /* Adjust height for desired thickness */
    background-color: rgb(61, 61, 61); /* Color of the separator */
    border-bottom: 2px solid #000; /* Optional: border for better separation */
    filter: sepia(100%);
}


.btn { 
    color: white;
    font-size: 20px;
    margin-top: 50px;
    cursor: pointer;
   
 
}

h1 { 
    font-size: 40px;
    border-bottom: solid white ;
    padding-bottom: 8px;
    display: inline-block;
    margin-bottom: 8px;
}

.pagedesc { 
    font-size: 20px;
    filter: sepia(100%);
    color: gray;
    text-shadow: 2px 2px 5px black;
   
}

.text { 
    text-align: start;
    
}

.container-feed {
    /* overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin; */
    max-height: 100vh;
    /* width: 100vw; */
}

#encontreiFeed {
    
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    width: 100%;
    scrollbar-color: rgb(48, 48, 48) rgb(61, 61, 61)
    
}

#perdiFeed {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    box-sizing: content-box;
    width: 100%;
    scrollbar-color: rgb(48, 48, 48) rgb(61, 61, 61)
}

.cardimg {
    object-fit: cover;
    width: 400px;
    height: 400px;
    border: solid gray;
    border-radius: 8px;
    
     
    
}




.cardh2 {
    color: white;
}

.last {
    background-color: black;
    
}

.feedname1 {
    text-align: center;
    flex: 1;
    border-bottom: solid gray;
    padding: 4px;
}

.feedname2 {
    text-align: center;
    flex: 1;
    border-bottom: solid gray;
    padding: 4px;
}

.feedlabel {
    display: flex;
    color: white;
    margin-bottom: 20px;
    filter: sepia(100%);
    


}